body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1 {
  font-size: 1.4em;
  font-weight: 600;
  line-height: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.container {
  margin: 0 auto;
  width: 420px;
}

nav {
    background-color: black;
    margin: 0 auto;
    padding: 15px;
    position: fixed;
    float: left;
    width: 420px;
  }
.arrow-left {
  margin: 0 auto;

}

.restaurant-list {
  background-color: #dedede;
  float: left;
  margin-top: 50px;
  width: 100%;
}

.location {
  border-bottom: 1px solid grey;
  width: 100%;
  clear: both;
}
.location:hover {
  background-color: grey;
}


.content {
padding: 3%;
float: left;
width: 87%;
}

.arrow {
  padding: 5%;
  float: left;
  width: 13%;
}
